.about-wrapper {
    margin: 0 auto;
    max-width: 380px;
    padding: 0;
}

.about-header {
    margin-top: $s-size;
    text-transform: uppercase;
}

.about-text {
    line-height: 1.5;
    word-wrap: break-word;
}

.about-image {
    display: flex;
    justify-content: center;
}

.about-links {
    margin: 0;
}

.about-link {
    display: block;
    line-height: 1.6;
    text-decoration: underline;
}