.about-wrapper {
    margin: 0 auto;
    max-width: 380px;
    padding: 0;
}

// .about {

// }

.about-text {
    word-wrap: break-word;
}

.about-image {
    display: flex;
    justify-content: center;
}