.footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 $m-size $s-size;
    width: 100%;
}

.footer-copyright {
    font-size: $font-size-small;
    color: $grey;
    text-align: center;
}

.footer-social {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 0 8px;
}