.not-found-wrapper {
    text-align: center;
}

.not-found-header {
    color: $dark-grey;
    font-size: 72px;
    margin: 0;
}

.not-found-text {
    margin: 0;
}

.not-found-link {
    color: $blue;
}