.not-found-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.not-found-wrapper {
    text-align: center;
}

.not-found-header {
    color: $dark-grey;
    font-size: 72px;
    margin: 0;
}

.not-found-text {
    font-size: 24px;
    margin: 0;
}

.not-found-link {
    color: $blue;
}