@import '../base/settings';

.header-wrapper {
    margin-bottom: $l-size;
    max-width: $content-size/2;
}

.header-title {
    margin-bottom: $xs-size;
    text-transform: uppercase;
}

.header-subtitle {
    color: $grey;
}

.header-description p {
    display: flex;
    margin: 0;
    margin-bottom: $s-size;
}