@import '../base/settings';

.main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: $wrapper-padding-mobile;
    @media screen and (min-width: $mobile-breakpoint) {
        padding: 40px;
    }
    @media screen and (min-width: $desktop-breakpoint) {
        padding: 80px;
    }
}

.main-content {
    flex: 1;
    padding-bottom: 40px;
    @media screen and (min-width: $desktop-breakpoint) {
        padding-bottom: 80px;
    }
}