@import '../base/settings';

// sass placeholder selector
%_link {
    color: $grey;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 1px $s-size;
    text-decoration-line: none;
    @media screen and (max-width: $mobile-breakpoint) {
        font-size: 13px;
        padding: 1px 8px;
    }
}

.navigation-wrapper {
    padding: 0;
    padding-bottom: 60px;
    @media screen and (max-width: $mobile-breakpoint) {
        // padding-bottom: 40px;
        padding-bottom: 12px;
    }
};

.navigation {
    display: flex;
    justify-content: center;
    text-decoration-line: none;
    text-transform: uppercase;
}

.navigation-header {
    color: $dark-grey;
    font-size: 72px;
    line-height: 1em;
    letter-spacing: 2px;
    margin: 0 0 48px;
    text-align: center;
    @media screen and (max-width: $mobile-breakpoint) {
        font-size: 60px;
        // margin: 0 0 28px;
        margin: 0;
    }
}

.navigation-link {
    @extend %_link;
    display: inline-block;
}

.navigation-main {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: $m-size 0;
}

.navigation-subnav {
    position: relative;
    display: inline-block;

    &:hover .navigation-link {
        color: $light-grey;
    }

    &:hover .navigation-subnav-content {
        display: block;
        pointer-events: auto;
    }
}

.navigation-subnav-content {
    display: none;
    line-height: 1.6;
    padding: 4px 0 0;
    pointer-events: none;
    position: absolute;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0px 2px 20px 0px rgba($black, .1);
    width: max-content;
    transition: opacity $transition-time linear;
    z-index: 1;
}

.navigation-subnav-link {
    @extend %_link;
    display: block;
    padding-top: 0px;
    text-align: left;
}

.navigation-subalbum-link {
    margin-right: 8px
}

.navigation__active {
    color: $light-grey;
    // border-color: $blue;
}