@import '../base/settings';

// sass placeholder selector
%_link {
    color: $grey;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 1px $s-size;
    text-decoration-line: none;
    @media screen and (max-width: $mobile-breakpoint) {
        font-size: 13px;
        padding: 1px 8px;
    }
}

.navigation-wrapper {
    padding: 0;
    padding-bottom: 60px;
    @media screen and (max-width: $mobile-breakpoint) {
        // padding-bottom: 40px;
        padding-bottom: 12px;
    }
};

.navigation {
    display: flex;
    justify-content: center;
    text-decoration-line: none;
    text-transform: uppercase;
}

.navigation__active {
    color: $light-grey;
}

.navigation-header {
    color: $dark-grey;
    font-size: 72px;
    line-height: 1em;
    letter-spacing: 2px;
    margin: 0 0 48px;
    text-align: center;
    @media screen and (max-width: $mobile-breakpoint) {
        font-size: 60px;
        // margin: 0 0 28px;
        margin: 0;
    }
}

.navigation-main {
    text-align: center;
    text-transform: uppercase;
    padding: $m-size 0;
}

.navigation-main__list {
    @extend %_link;
    display: flex;
    justify-content: center;
    margin: 0;
}

.navigation-main__link {
    @extend %_link;
    display: block;     // can optionally delete; adds ~1px to height to keep consistent with old implementation
}

.navigation-dropdown {
    position: relative;

    &:hover .navigation-main__link {
        color: $light-grey;
    }

    &:hover .navigation-dropdown__list {
        display: block;
        pointer-events: auto;
    }
}

.navigation-dropdown__list {
    display: none;
    line-height: 1.6;
    padding: 4px 0 4px;
    pointer-events: none;
    position: absolute;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0px 2px 20px 0px rgba($black, .1);
    width: max-content;
    transition: opacity $transition-time linear;
    z-index: 1;
}

.navigation-dropdown__link {
    @extend %_link;
    display: block;         // required for text-align to work
    padding-top: 0px;
    text-align: left;
}

.navigation-submenu {
    position: relative;

    &:hover .navigation-submenu__list {
        display: block;
        pointer-events: auto;
    }
}

.navigation-submenu:hover > a {
    color: $light-grey;     // highlights the parent album if any sub-album is active
}

.navigation-submenu__list {
    display: none;
    line-height: 1.6;
    padding: 4px 0 4px;
    pointer-events: none;
    position: absolute;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0px 2px 20px 0px rgba($black, .1);
    width: max-content;
    transition: opacity $transition-time linear;
    z-index: 1;

    // Desktop view: align submenu with dropdown and open to the left
    top: -4px;          // offset equal to parent (dropdown__list) padding
    left: 100%;
    // TODO: Create mobile view
}

.navigation-submenu__link {
    @extend %_link;
    display: block;     // required for text-align to work
    padding-top: 0px;
    text-align: left;
}

.navigation-subalbum-link {
    margin-right: 8px
}