@import '../base/settings';
@import './arrow.scss';

// sass placeholder selector
%_link {
    color: $grey;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 1px $s-size;
    text-decoration-line: none;
    @media screen and (max-width: $mobile-breakpoint) {
        padding: 5px 0px;
    }
}

.navigation-wrapper {
    padding: 0;
    padding-bottom: 20px;
    @media screen and (min-width: $mobile-breakpoint) {
        padding-bottom: 30px;
    }
    @media screen and (min-width: $desktop-breakpoint) {
        padding-bottom: 60px;
    }
};

.navigation-wrapper__desktop {
    @extend .navigation-wrapper;
    @media screen and (max-width: $mobile-breakpoint ) {
        display: none;
    }
}

.navigation-wrapper__mobile {
    @extend .navigation-wrapper;
    @media screen and (min-width: ($mobile-breakpoint + 1)) {
        display: none;
    }
}

.navigation {
    display: flex;
    justify-content: center;
    text-decoration-line: none;
    text-transform: uppercase;
}

.navigation__active {
    color: $light-grey;
}

.navigation-header {
    color: $dark-grey;
    font-size: 72px;
    line-height: 1em;
    letter-spacing: 2px;
    margin: 0 0 20px;
    text-align: center;
    @media screen and (min-width: $desktop-breakpoint) {
        margin: 0 0 48px;
    }
}

.navigation-main {
    text-align: center;
    text-transform: uppercase;
    padding: $m-size 0;
}

.navigation-main__list {
    @extend %_link;
    display: flex;
    justify-content: center;
    margin: 0;
}

.navigation-main__link {
    @extend %_link;
    display: flex;
    align-items: center;
}

.navigation-dropdown {
    position: relative;

    &:hover .navigation-main__link {
        color: $light-grey;
    }

    &:hover .navigation-dropdown__list {
        display: block;
        pointer-events: auto;
    }

    &:hover .navigation-arrow-mainnav {
        border-color: $light-grey;
    }

    // MOBILE SETTINGS
    @media screen and (max-width: $mobile-breakpoint) {
        &:hover .navigation-arrow-dropdown {
            border-color: $light-grey;
        }
    }
}

.navigation-dropdown__list {
    display: none;
    line-height: 1.6;
    padding: 5px 0 4px;
    pointer-events: none;
    position: absolute;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0px 2px 20px 0px rgba($black, .1);
    width: max-content;
    transition: opacity $transition-time linear;
    z-index: 1;

    // MOBILE SETTINGS
    @media screen and (max-width: $mobile-breakpoint) {
        // Make dropdown appear left and align nav items
        top: 0px;
        left: 100%;
        margin-left: $nav-margin-mobile;

        // Reset/turn off desktop nav settings
        padding: 0;
        box-shadow: none;
        line-height: normal;
    }
}

.navigation-dropdown__link {
    @extend %_link;
    display: flex;
    align-items: center;
    text-align: left;

    // DESKTOP SETTINGS
    @media screen and (min-width: $mobile-breakpoint) {
        padding-top: 0px;
    }
}

.navigation-submenu {
    position: relative;

    &:hover .navigation-submenu__list {
        display: block;
        pointer-events: auto;
    }

    &:hover .navigation-arrow-dropdown {
        border-color: $light-grey;
    }
}

.navigation-submenu:hover > a {
    color: $light-grey;     // highlights the parent album if any sub-album is active
}

.navigation-submenu__list {
    display: none;
    line-height: 1.6;
    padding: 5px 0 4px;
    pointer-events: none;
    position: absolute;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0px 2px 20px 0px rgba($black, .1);
    width: max-content;
    transition: opacity $transition-time linear;
    z-index: 1;

    top: -5px;          // offset equal to parent (dropdown__list) padding to align with dropdwon
    left: 100%;         // open to the left
}

.navigation-submenu__link {
    @extend %_link;
    display: block;     // required for text-align to work
    padding-top: 0px;
    text-align: left;
}

.navigation-subalbum-link {
    margin-right: 8px
}

.navigation-arrow-mainnav {
    @extend .arrow;
    @extend .arrow__down;
    @extend .arrow__large;
    margin-left: 4px;
}

.navigation-arrow-dropdown {
    @extend .arrow;
    @extend .arrow__right;
    @extend .arrow__small;
    margin-left: 2px;
}

.logo {
    display: block;
    width: 40px;
}

.icon {
    display: block;
    width: 30px;
}

.navigation-mobile {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.navigation-mobile-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;

    z-index: 2;
}

.navigation-mobile-menu {
    display: flex;
    background-color: $white;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    padding: 130px 0px;
    pointer-events: none;
    position: absolute;
    transition: opacity $transition-time-fast linear;
    z-index: 1;
}

.navigation-mobile-menu__list {
    @extend %_link;
    margin-right: $nav-margin-mobile;
    padding: 0 0 0 $wrapper-padding-mobile;
}

.navigation-mobile-menu__button {
    background-color: $white;
    border: none;
    padding: 0;
}

.navigation-mobile-menu__open {
    opacity: 1;
    pointer-events: auto;
}