@import '../base/settings';

.not-found-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;

    @media screen and (max-width: 400px) {
        width: 100%;
    }
}

.not-found-wrapper {
    text-align: center;
}

.not-found-header {
    color: $medium-grey;
    font-size: 72px;
    margin: 0;

    @media screen and (max-width: $mobile-breakpoint) {
        font-size: 60px;
    }
}

.not-found-text {
    font-size: 24px;
    line-height: 1.5;
    margin: 0;
    padding: 10px 0px 40px 0px;

    @media screen and (max-width: $mobile-breakpoint) {
        font-size: 18px;
    }
}