@import '../base/settings';

$social: 24px;
$socialSmall: 22px;

%_icon {
    display: block;
    fill: $dark-grey;
    transition: fill $transition-time linear;

    &:hover {
        fill: $light-grey;
    }
}

.socialIcon {
    @extend %_icon;

    height: $social;
    width: $social;
}

.socialIcon-small {
    @extend %_icon;

    height: $socialSmall;
    width: $socialSmall;
}

.socialLinks {
    align-items: center;
    display: flex;
    justify-content: center;

    &>* {
        padding-right: 8px;
    }
}