// Colors
$dark-grey: #121212;
$medium-grey: #424242;
$grey: #666666;
$light-grey: #A8A8A8;
$off-white: #f7f7f7;
$white: white;
$black: #000000;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$xs-size: 12px;
$s-size: 16px;
$m-size: 20px;
$l-size: 28px;
$xl-size: 40px;
$xxl-size: 80px;

// Content Size
$break-mobile: 640;
$break-desktop: 960;
$content-size: 1100px;
$mobile-breakpoint: $break-mobile + 0px;
$desktop-breakpoint: $break-desktop + 0px;

// Transition Time
$transition-time: .17s;
$transition-time-fast: .1s;